<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="D:\NOTLAR\PROJELER\BANKA_PROJE\BANKA_PROJE\BANKA.MDF" 
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\NOTLAR\PROJELER\banka_proje\banka_proje\banka.mdf;Integrated Security=True"/>
    
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>