<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="D:\NOTLAR\PROJELER\HASTANE_KAYIT_PROGRAMI\HASTANE_KAYIT_PROGRAMI\HASTANE.MDF"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\NOTLAR\PROJELER\hastane_kayit_programi\hastane_kayit_programi\hastane.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>