
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
    <div> 
        <button type="submit">@Html.ActionLink("Anasayfa","Index","Home")</button> 
        <button type="submit">@Html.ActionLink("İletişim", "Iletisim", "Home")</button>
            <button type="submit">@Html.ActionLink("Referanslar", "Referanslar", "Home")</button>
</div>
    @RenderBody()
</body>
</html>
